/* https://codepen.io/enxaneta/full/adLPwv/ */


.contenedor {
    display: flex;
    background-color: rgb(192, 226, 43);
    padding: 0.5rem;
    gap:0.5rem;
    min-height: 5rem;
    /* Eje principal ---> Horizontal osea en fila (row)*/
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* space-evenly va muy bien cuando hacemos un menu en la pagina   */


    /* Eje Secundario ---> es el vertical */
    /* flex-direction: column; */

    /* flex-wrap: wrap; */
    /* El wrap envuelve todo y lo dispone segun el espacio. Trata demantener el espacio que le pusimos y cuando vamos achicando los va agrupando */

    align-items: center;     /* align-items: stretch; */
    /* el strech viene por defecto y lo que hace es estirarnos toda la altura  */
}


.item {
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem;
}


.item3 {
    align-self: stretch
}